{% extends 'Blog/base.html' %}
{% load widget_tweaks %}
{% block title %}Registrarse{% endblock %}
{% block content_title %}Registrarse{% endblock %}

{% block content %}
<form method="POST" class="w-50 mx-auto">
  {% csrf_token %}
  {% for field in form %}
    <div class="mb-3">
      <label class="form-label">{{ field.label }}</label>
      {{ field|add_class:"form-control" }}
      {% if field.errors %}
        <div class="text-danger small">{{ field.errors }}</div>
      {% endif %}
    </div>
  {% endfor %}
  <button type="submit" class="btn btn-dark">Registrarse</button>
</form>
{% endblock %}