{% extends 'Blog/base.html' %}

{% block title %}Sobre Nosotros{% endblock title %}

{% block content_title %}
    <span class="text-info">CoolFilm</span> | Sobre nosotros
{% endblock content_title %}

{% block content %}
<div class="mx-auto" style="max-width: 750px;">
    <div class="bg-white p-5 rounded-4 shadow-sm border border-light-subtle">
        <h2 class="mb-4 text-center text-dark-emphasis fw-semibold">
            Una comunidad para creadores visuales
        </h2>
        <p class="fs-5 text-center text-body-secondary">
            CoolFilm es una plataforma dedicada a cineastas independientes que desean mostrar sus proyectos, compartir publicaciones y conectarse con otros creativos.
        </p>
        <p class="fs-5 text-center text-body-secondary">
            Al registrarte, pasás a formar parte de la comunidad CoolFilm, donde podrás participar en el foro, descubrir nuevos talentos y hacer networking con otros filmmakers.
        </p>
        <p class="fs-5 text-center fw-semibold text-success">
            ¡Gracias por visitarnos y ser parte de esta visión!
        </p>
    </div>
</div>
{% endblock content %}