{% extends 'Blog/base.html' %}

{% block title %}
    Proyectos
{% endblock title %}

{% block content_title %}
    Proyectos
{% endblock content_title %}
{% block content %}

    <form action="{% url 'lista_proyectos' %}" method="get">
        <input type="text" name="busqueda" placeholder="Buscar..." type="submit" class="form-control mb-3">
    </form>
    <ul>
        {% for proyecto in proyectos %}
            <li>
                <h2>{{ proyecto.titulo }}</h2>
                <p>{{ proyecto.descripcion }}</p>
                <small>Fecha de lanzamiento: {{ proyecto.fecha_lanzamiento }}</small>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
